<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>01.1color.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>507621440.27801102</real>
				<key>lastModification</key>
				<real>507621440.27801102</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>52</integer>
				</dict>
			</dict>
			<key>01_color.md</key>
			<dict>
				<key>lastModification</key>
				<real>507618642.71979398</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>31</integer>
				</dict>
			</dict>
			<key>02_style.md</key>
			<dict>
				<key>lastModification</key>
				<real>507620131.09495801</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>39</integer>
				</dict>
			</dict>
			<key>03_attitude.md</key>
			<dict>
				<key>lastModification</key>
				<real>507618633.85101199</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>27</integer>
				</dict>
			</dict>
			<key>04_type.md</key>
			<dict>
				<key>lastModification</key>
				<real>507620131.09495598</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>39</integer>
				</dict>
			</dict>
			<key>100_color.md</key>
			<dict>
				<key>lastModification</key>
				<real>507621438.40272897</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>51</integer>
				</dict>
			</dict>
			<key>README.md</key>
			<dict>
				<key>lastModification</key>
				<real>507618633.851004</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>27</integer>
				</dict>
			</dict>
			<key>SUMMARY.md</key>
			<dict>
				<key>lastModification</key>
				<real>507618633.85100698</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>27</integer>
				</dict>
			</dict>
			<key>attitude.md.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>507614807.88786501</real>
				<key>lastModification</key>
				<real>507618633.85101002</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>27</integer>
				</dict>
			</dict>
			<key>color.md.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>507614807.88859397</real>
				<key>lastModification</key>
				<real>507618633.85100901</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>27</integer>
				</dict>
			</dict>
			<key>style.md</key>
			<dict>
				<key>lastModification</key>
				<real>507621438.39942098</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>50</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>100_color.md</string>
		</array>
		<array>
			<string>README.md</string>
		</array>
		<array>
			<string>SUMMARY.md</string>
		</array>
		<array>
			<string>color.md.md</string>
		</array>
		<array>
			<string>attitude.md.md</string>
		</array>
		<array>
			<string>style.md</string>
		</array>
		<array>
			<string>01.1color.md</string>
		</array>
		<array>
			<string>01_color.md</string>
		</array>
		<array>
			<string>03_attitude.md</string>
		</array>
		<array>
			<string>04_type.md</string>
		</array>
		<array>
			<string>02_style.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
			<integer>52</integer>
		</dict>
	</dict>
</dict>
</plist>
