<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>order</key>
	<array/>
	<key>resolutionData</key>
	<dict>
		<key>order</key>
		<dict/>
	</dict>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>order</key>
		<dict>
			<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
			<integer>44</integer>
		</dict>
	</dict>
</dict>
</plist>
