<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>01.1color.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>507621440.27801102</real>
				<key>lastModification</key>
				<real>507621440.27801102</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>52</integer>
				</dict>
			</dict>
			<key>01_color.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>507622376.77141601</real>
				<key>lastModification</key>
				<real>507622376.77141601</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>64</integer>
				</dict>
			</dict>
			<key>01start.md</key>
			<dict>
				<key>lastModification</key>
				<real>507622403.75239599</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>70</integer>
				</dict>
			</dict>
			<key>02_style.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>507622376.88153702</real>
				<key>lastModification</key>
				<real>507622376.88153702</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>67</integer>
				</dict>
			</dict>
			<key>02level2.md</key>
			<dict>
				<key>lastModification</key>
				<real>507622507.63064301</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>81</integer>
				</dict>
			</dict>
			<key>03_attitude.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>507622376.78604501</real>
				<key>lastModification</key>
				<real>507622376.78604501</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>65</integer>
				</dict>
			</dict>
			<key>03level3.md</key>
			<dict>
				<key>lastModification</key>
				<real>507622512.20152301</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>83</integer>
				</dict>
			</dict>
			<key>04_type.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>507622376.88074201</real>
				<key>lastModification</key>
				<real>507622376.88074201</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>66</integer>
				</dict>
			</dict>
			<key>100_color.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>507622071.89495999</real>
				<key>lastModification</key>
				<real>507622071.89495999</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>57</integer>
				</dict>
			</dict>
			<key>README - 2.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>507622101.567469</real>
				<key>lastModification</key>
				<real>507622101.567469</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>58</integer>
				</dict>
			</dict>
			<key>README.md</key>
			<dict>
				<key>lastModification</key>
				<real>507618633.851004</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>27</integer>
				</dict>
			</dict>
			<key>SUMMARY.md</key>
			<dict>
				<key>lastModification</key>
				<real>507622194.19653797</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>61</integer>
				</dict>
			</dict>
			<key>attitude.md.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>507614807.88786501</real>
				<key>lastModification</key>
				<real>507618633.85101002</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>27</integer>
				</dict>
			</dict>
			<key>color.md.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>507614807.88859397</real>
				<key>lastModification</key>
				<real>507618633.85100901</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>27</integer>
				</dict>
			</dict>
			<key>style.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>507622376.77025503</real>
				<key>lastModification</key>
				<real>507622376.77025503</real>
				<key>version</key>
				<dict>
					<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
					<integer>63</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>100_color.md</string>
		</array>
		<array>
			<string>README.md</string>
		</array>
		<array>
			<string>README - 2.md</string>
		</array>
		<array>
			<string>SUMMARY.md</string>
		</array>
		<array>
			<string>color.md.md</string>
		</array>
		<array>
			<string>attitude.md.md</string>
		</array>
		<array>
			<string>style.md</string>
		</array>
		<array>
			<string>01.1color.md</string>
		</array>
		<array>
			<string>01_color.md</string>
		</array>
		<array>
			<string>03_attitude.md</string>
		</array>
		<array>
			<string>04_type.md</string>
		</array>
		<array>
			<string>02_style.md</string>
		</array>
		<array>
			<string>01start.md</string>
		</array>
		<array>
			<string>02level2.md</string>
		</array>
		<array>
			<string>03level3.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>3eb6d89cf836aa017fa3922df75a807c5f329d60ec9b0eb21b578fb42e145574</key>
			<integer>83</integer>
		</dict>
	</dict>
</dict>
</plist>
